html {
    font-size: 62.5%;

}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: #fff;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-family: 'Courier Prime', monospace;
    
}

img{
    max-width: 100%;
}

h1 {
    display: inline-block;
    font-size: 3rem;
    color: #ffcc33;
    background-color: rgba(0, 0, 0, .6);
    padding: .5rem .5rem;
    border-radius: 1rem;
}

p{
    color: rgba(0, 0, 0, .6);
    font-size: 2rem;
    line-height: 1.5;
    margin: 0;
}

a{
    font-family:Georgia, 'Times New Roman', Times, serif ;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 1rem;
    margin-right: 1rem;
    font-family: 'Courier Prime', monospace;
}


a:last-child{
    margin-right: 0;
}

i {
    padding: 1rem;
    color: #ffcc33;
}


.container {
    max-width: 120rem;
    margin: 0 auto;
    width: 97%;
}

.container img {
    max-width: 50%;
    margin: 2rem 0;
}


.banner{
    background-color: #000;
    padding-bottom: 2rem;
}


.header {
    text-align: center;
}

.pokemon-logo{
    transition: transform .4s ease;
}



@media (min-width:768px){
    .container img {
        max-width: 75%;
    }

    .nav-bar{
        display: flex;
        padding: 0 1rem ;
        justify-content: space-between;
        align-items: center;
        margin-top: 6rem;
    }

    .nav-bar a {
        font-size: 4rem;
        transition: all .1s ease-in-out;
    }
    a:hover {
        cursor: pointer;
        border-bottom: 5px solid #fff;
        padding-top: .5rem;
    }
    .pokemon-logo:hover{
        transform: scale(1.1)
    }
}